<h2 style="text-align: center; color: lightseagreen; margin-top: 20px" xmlns="http://www.w3.org/1999/html">Employee List</h2>
<a routerLink="/employee-list/create" class="btn btn-info m-3" type="button">+ Add new employee</a>
<div class="form-inline">
  <input class="form-control mr-sm-2" type="search" [(ngModel)]="nameSearch">
  <input class="form-control mr-sm-2" type="search" [(ngModel)]="addressSearch">
  <button class="btn btn-outline-secondary" type="submit" (click)="searchByName()">Search</button>
</div>
<table class="table table-hover" style="margin-top: 20px">
  <thead style = "background: lightseagreen">
  <tr>
    <th scope="col">Employee ID</th>
    <th scope="col">Employee Name</th>
    <th scope="col">Date of birthday</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Position</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td scope="row">{{employee.id}}</td>
    <td scope="row">{{employee.name | titlecase}}</td>
    <td scope="row">{{employee.birthday}}</td>
    <td scope="row">{{employee.phone}}</td>
    <td scope="row">{{employee.email}}</td>
    <td scope="row">{{employee.address}}</td>
    <td scope="row">{{employee.position.name}}</td>
    <td>
      <a (click)="openDialogDelete(employee.id)" type="button" class="btn btn-danger">
        Delete
      </a>
      <a style = "margin-left: 10px" type="button" class="btn btn-warning" type="button" routerLink="/edit/{{employee.id}}">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
