<p class="align-content-center"><h2>Create</h2>
<br>
<div class="container-fluid">
  <div class="col-6">
    <form [formGroup]="productForm" (ngSubmit)="add()">

      <div class="form-group">
        <label>Ma lo hang</label>
        <input class="form-control" name="id" formControlName="id">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="productForm.get('id')?.invalid && productForm.get('id')?.dirty">
        Ma lo hang is invalid.
      </div>


      <div class="form-group">
        <label>San pham</label>
        <select class="form-control" id="category" formControlName="category">
          <option *ngFor ="let ctg of categories" [ngValue] = "ctg">{{ctg.name}}</option>
        </select>
      </div>


      <div class="form-group">
        <label>So luong:</label>
        <input class="form-control" formControlName="quantity">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.dirty">
        Quantity is invalid.
      </div>

      <div class="form-group">
        <label>Ngay nhap hang:</label>
        <input type = "date"class="form-control" formControlName="nnh">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="productForm.get('nnh')?.invalid && productForm.get('nnh')?.dirty">
        Ngay nhap hang quantity.
      </div>

      <div class="form-group">
        <label>Ngay san xuat:</label>
        <input type = "date" class="form-control" formControlName="nsx">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="productForm.get('nsx')?.invalid && productForm.get('nsx')?.dirty">
        Ngay san xuat is invalid.
      </div>

      <div class="form-group">
        <label>Ngay het han :</label>
        <input type = "date" class="form-control" formControlName="nhh">
      </div>
      <div class="alert alert-danger" role="alert"
           *ngIf="productForm.get('nhh')?.invalid && productForm.get('nhh')?.dirty">
        Ngay het han is invalid.
      </div>


      <button class="btn btn-primary">Create</button>

    </form>
  </div>
</div>
