<p class="align-content-center"><h2>Create Employee</h2>
<br>
<div class="container-fluid">
  <div class="col-6">
    <form [formGroup]="employeeForm" (ngSubmit)="add()">

      <div class="form-group">
        <label>Employee Name:</label>
        <input class="form-control" name="name" formControlName="name">
      </div>
      <div class="alert alert-danger" role="alert" style = "color: red"
           *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.dirty">
        Name is invalid.
      </div>


      <div class="form-group">
        <label>Date of birth:</label>
        <input type = "date" class="form-control" formControlName="birthday">
      </div>
      <div class="alert alert-danger" role="alert" style = "color: red"
           *ngIf="employeeForm.get('birthday')?.invalid && employeeForm.get('birthday')?.dirty">
        Date of birth is invalid.
      </div>

      <div class="form-group">
        <label>Phone:</label>
        <input  class="form-control" formControlName="phone">
      </div>
      <div class="alert alert-danger" role="alert" style = "color: red"
           *ngIf="employeeForm.get('phone')?.invalid && employeeForm.get('phone')?.dirty">
        Phone is invalid.
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input class="form-control" formControlName="email">
      </div>
      <div class="alert alert-danger" role="alert" style = "color: red"
           *ngIf="employeeForm.get('email')?.invalid && employeeForm.get('email')?.dirty">
        Email is invalid.
      </div>

      <div class="form-group">
        <label>Address:</label>
        <input class="form-control" formControlName="address">
      </div>
      <div class="alert alert-danger" role="alert" style = "color: red"
           *ngIf="employeeForm.get('address')?.invalid && employeeForm.get('address')?.dirty">
        Email is invalid.
      </div>

      <div class="form-group">
        <label>Position</label>
        <select class="form-control" id="position" formControlName="position">
          <option *ngFor ="let pstn of position" [ngValue] = "pstn">{{pstn.name}}</option>
        </select>
      </div>

      <button class="btn btn-success">Create</button>

    </form>
  </div>
</div>
