<h1 style="text-align: center; margin-top: 20px; color: lightseagreen">Add contract</h1><br>
<form style = "width: 100%; height: 250px; float: left">
  <div style = "float: left; height: 300px; width: 45%; margin-top: 20px">
    <div class="input-group mb-3" style="width: 80%; margin-left: 110px">
      <span class="input-group-text" id="basic-addon1">Contract Id</span>
      <input type="text" class="form-control" aria-label="Contract Id" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3" style="width: 80%; margin-left: 110px">
      <input type="text" class="form-control" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2">Customer Name</span>
    </div>

    <div class="input-group mb-3" style="width: 80%; margin-left: 110px">
      <span class="input-group-text">Employee Name</span>
      <input type="text" class="form-control" aria-label="Employee Name">
    </div>

    <div class="input-group mb-3" style="width: 80%; margin-left: 110px">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Service</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">Villa Beach Front</option>
        <option value="2">House Princess 01</option>
        <option value="3">Room Twin 01</option>
        <option value="4">Villa No Beach Front</option>
        <option value="5">House Princess 02</option>
        <option value="6">Room Twin 02</option>
      </select>
    </div>
  </div>

  <div style= "float: left; height: 300px; width: 50%; margin-top: 20px">
    <div class="input-group mb-3" style="width: 80%; margin-left: 100px">
      <input type="date" class="form-control">
      <span class="input-group-text">Start date</span>
    </div>

    <div class="input-group" style="width: 80%; margin-left: 100px">
      <span class="input-group-text">End date</span>
      <input type="date" class="form-control">
    </div>
    <br>
    <div class="input-group mb-3" style="width: 80%; margin-left: 100px">
      <input type="text" class="form-control">
      <span class="input-group-text">Deposit</span>
    </div>
  </div>
</form>
<button style = "margin-top: 20px; float: left; margin-left: 1000px" type="submit" class="btn btn-success">Save</button>
<button style = "margin-top: 20px; margin-left: 20px" type="reset" class="btn btn-warning">Reset</button>
