<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new customer</title>
</head>
<body>
<h1>Add new customer</h1>
<div>
    <span style="color: brown" th:text="${mess}"></span>
</div>
<form th:action="@{/home/customer/save}" method="post" th:object="${customerDTO}">
    <p>Name</p>
    <input type = "text" name = "name" th:field="*{name}" placeholder="Enter name"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
    <p>Customer Type</p>
    <select th:field ="*{customer_type}">
        <option th:each="ctmt:${customerTypeList}" th:value="${ctmt.id}" th:text="${ctmt.name}"></option>
    </select><br>
    <p>Birthday</p>
    <input type = "text" name = "birthday" th:field="*{birthday}" placeholder="Enter birthday"/>
    <span th:if="${#fields.hasErrors('birthday')}" th:errors = "*{birthday}"></span><br>
    <p>Gender</p>
    <input type = "text" name = "gender" th:field="*{gender}" placeholder="Enter gender"/>
    <span th:if="${#fields.hasErrors('gender')}" th:errors = "*{gender}"></span><br>
    <p>Card ID</p>
    <input type = "text" name = "cardId" th:field="*{cardId}" placeholder="Enter cardId"/>
    <span th:if="${#fields.hasErrors('cardId')}" th:errors = "*{cardId}"></span><br>
    <p>Phone</p>
    <input type = "text" name = "phone" th:field="*{phone}" placeholder="Enter phone"/>
    <span th:if="${#fields.hasErrors('phone')}" th:errors = "*{phone}"></span><br>
    <p>Email</p>
    <input type = "text" name = "email" th:field="*{email}" placeholder="Enter email"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors = "*{email}"></span><br>
    <p>Address</p>
    <input type = "text" name = "address" th:field="*{address}" placeholder="Enter address"/>
    <span th:if="${#fields.hasErrors('address')}" th:errors = "*{address}"></span><br><br>
    <button type = "submit">Save</button>
</form>
</body>
</html>