<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
<h1>Edit employee</h1>
<div>
    <span style="color: aqua" th:text="${mess}"></span>
</div>
<form th:action="@{/home/employee/save}" method="post" th:object="${employeeDTO}">
    <input type="hidden" name="id" th:field="*{id}"/>
    <p>Name</p>
    <input type = "text" name = "name" th:field="*{name}" placeholder="Enter name"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
    <p>Birthday</p>
    <input type = "text" name = "birthday" th:field="*{birthday}" placeholder="Enter birthday"/>
    <span th:if="${#fields.hasErrors('birthday')}" th:errors = "*{birthday}"></span><br>
    <p>Card ID</p>
    <input type = "text" name = "cardId" th:field="*{cardId}" placeholder="Enter cardId"/>
    <span th:if="${#fields.hasErrors('cardId')}" th:errors = "*{cardId}"></span><br>
    <p>Salary</p>
    <input type = "number" name = "salary" th:field="*{salary}" placeholder="Enter salary"/>
    <span th:if="${#fields.hasErrors('salary')}" th:errors = "*{salary}"></span><br>
    <p>Phone</p>
    <input type = "text" name = "phone" th:field="*{phone}" placeholder="Enter phone"/>
    <span th:if="${#fields.hasErrors('phone')}" th:errors = "*{phone}"></span><br>
    <p>Email</p>
    <input type = "text" name = "email" th:field="*{email}" placeholder="Enter email"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors = "*{email}"></span><br>
    <p>Address</p>
    <input type = "text" name = "address" th:field="*{address}" placeholder="Enter address"/>
    <span th:if="${#fields.hasErrors('address')}" th:errors = "*{address}"></span><br>
    <p>Position</p>
    <select th:field ="*{position}">
        <option th:each="pst:${positionList}" th:value="${pst.id}" th:text="${pst.name}"></option>
    </select><br>
    <p>Education degree</p>
    <select th:field ="*{education_degree}">
        <option th:each="edct:${educationDegreeList}" th:value="${edct.id}" th:text="${edct.name}"></option>
    </select><br>
    <p>Division</p>
    <select th:field ="*{division}">
        <option th:each="dvs:${divisionList}" th:value="${dvs.id}" th:text="${dvs.name}"></option>
    </select><br>
    <button type = "submit">Save</button>
</form>
</body>
</html>