<h1 style = "text-align: center">List student</h1>
<table class="table">
  <tr class="table-primary">
    <th>Name</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th>Mask</th>
    <th>Avatar</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let std of student">
    <td>{{std.name}}</td>
    <td>{{std.birthday}}</td>
    <td>{{std.gender}}</td>
    <td>{{std.mask}}</td>
    <td>
      <img style="width: 50px" [src] ="std.avatar"/>
    </td>
    <td>
      <button class="btn btn-success">Edit</button>
      <button class="btn btn-danger" style="margin-left: 10px">Delete</button>
    </td>
  </tr>
</table>



